*.aux
*.bbl
*.blg
*.dat
*.log
*.out
*.sft
*~
/#*Inferior Octave*#
/*Inferior Octave*
/*git-commit*
/OtherPresentationsNotes
/Results*
/octave-workspace
Notes/RingdownSearch*
_region_*
auto/
extractTS-Results/
git_tag.tex
old/
